.hover-txt {
    color: #0072BC !important;
}
.nav {
    background-color: #0072BC ;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
    background-color: #0072BC;
    padding-left: 15px;
}
.nav-link.active, .dropdown-item.active {
    color: #0072BC !important;
    background-color: white!important;
    font-weight:700;
}
.nav-link:hover, .dropdown-item:hover {
    background-color: white !important;
    color: #0072BC !important;
}
.nav-link:active, .dropdown-item:active {
    background-color: lightgrey !important;
}
.nav-link {
    color: white !important;
}
.nav-item {
    padding-left:5px;
    padding-right:5px;
}
.heading {
    background-color: #0072BC !important;
}
.heading>div>p, .heading>div>h1 {
    color: white !important;
}
.heading>div>h1 {
    font-weight: 600;
}
.icons{
    font-size: 1.5rem;
    background-color: #0072BC !important;
    color: #0072BC !important;
}
.icons a{
    margin-right: 0.2rem;
    background-color: #0072BC !important;
    color: #0072BC !important;
}
.zoom-icon {
    transition: transform .2s;
    color: white !important;
}
.zoom-icon:hover{
    transform: scale(1.3);
}
.container {
    display: inline;
}
.container > *{
    margin-left: 40px;
}
#free-text {
    margin-left: 30px;
}
footer{
    background-color: #0072BC !important;
    color: white !important;
}
footer > p{
    font-weight: 600;
}
.icon-link {
    color: white !important;
}
footer > ul > li > a{
    background-color: #0072BC !important;
    color: white !important;
}
footer > ul > li > a:hover {
    background-color: #0072BC !important;
    color: white !important;
}
h1, h2:not(.accordion-header) {
    padding-left: 15px;
    color:#0072BC !important;
    font-weight: 600 !important;
}
h3 {
    color:#0072BC !important;
    font-weight: 600 !important;
}
h4>span {
    color: #0072bc !important;
    font-weight: 600 !important;
}
.zoom-pic {
    transition: transform .4s;
}
.zoom-pic:hover{
    transform: scale(1.05);
}
.card-footer {
    font-size: 14px !important;
}
.zoom-card {
    transition: transform .4s;
}
.zoom-card:hover{
    transform: scale(1.05);
}
.gr {
    filter: grayscale(100%);
    transition: 0.4s;
}
.gr:hover {
    filter:grayscale(0);
}
.no-decor:active, .no-decor:hover, .no-decor:link, .no-decor:visited {
    text-decoration: none !important;
}
.card-title {
    color: #0072BC !important;
    font-weight: 600;
}
.card{
    display: inline-block;
}
.card-footer > a, .card-footer>a:hover {
    color: #0072BC;
}
.card-footer>a:hover, .current-time, .card-header.bsc, .accordion-button {
    font-weight: 700 !important;
}
.current-time {
    color: #00b398;
}
.card-header.bsc, .accordion-button{
    background-color: #0072BC !important;
    color: white !important;
}
.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.btn-outline-primary {
    color:#0072BC !important;
    border-color: #0072BC !important;
    margin-left: 25px;
}
.btn-outline-primary:hover {
    background-color: #0072BC !important;
    color: white !important;
}
.footer-link:hover {
    font-weight: bold;
}
.card-footer{
    display:inline-block !important;
    vertical-align: top !important;
}
.cust-img{
    max-height: 50%;
    max-width: 50%;
}
.cust-img2 {
    max-height: 30%;
    max-width: 30%;
}
.btn-pdf {
    padding-left: 25px;
}
.go-back {
    background-color: transparent !important;
    color: white !important;
    border-color: white !important;
}
.go-back:hover {
    background-color: white !important;
    color: #0072BC !important;
}